/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
       width: 1400px;
       height: 100%;
       background-color: lightgreen;
    }

    header {
        background-color: ;
        padding: 5px;
        font-size: 48px;
        display: block;
    }

    h1 {
      background-color:forestgreen;
      font-size: 64px;
      color: yellow;
      text-align: center;
    }
.inputs {
  width: 100%;
}
.inputs div{
  width:25%;
}

div {
  display: inline-block;
  font-size: 25px;
}

p{
  width: 100%auto;
  text-align: center;
  font-size: 36px;font-family: ariel, sans-serif, serif;

}
img {
  width: 300px;
  margin: auto auto;
  display:block;
}
    nav {
        float: left;

    }
    nav ul {
        padding: ;
        float: left;
        border-bottom: ;
        list-style-type: none;
    }
    nav li {
        float: left;
        
        text-align: center;

    }
    nav li a {
        display: block;
        height: 30px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }

h2{
  font-size: 25px;
  color:auto;
  text-align: center;
}

    a {
        color: ;
    }
    section {
        width: 73%;
        display: inline-block;
        float: left;
    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:;
        padding:;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: block;
    }
