/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
}

.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
    body {
      background-image: url("sonics.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
    }

    header {
        background-color: 2B9408;
        padding: 5px;
        border: 10px solid #000000;
        margin: 15px;
        font-size: 30px;
        display: block;
    }

    nav {
        background-color: white;
        height: 100%;
        width: 15%;
        font-size: 20px;
        font-color: ;
        float: left;
    }
    nav ul {
        padding: ;
        float: left;
        border-bottom: ;
        list-style-type: none;
    }
    nav li {
        float: left;
    }
    nav li a {
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    a {
        color: ;
    }
    section {
        width: 73%;
        display: inline-block;
        float: left;
    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:;
        padding:;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: block;
    }*/
